* {
  margin: 0;
  padding: 0;
  -webkit-backface-visibility: hidden;
}

.header a {
  color: #999;
}

/*MAIN CIRCLE*/
.circle {
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 25px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #093b62;
  z-index: 999;
}

/*LITTLE CIRCLES*/
.circle li {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  list-style-type: none;
  text-align: center;
  font: 20px/50px Helvetica, Arial, sans-serif;
  top: 0;
  left: 0;
  text-decoration:none;
  background-color:#FFFFFF;
}

.circle a:hover, a:link, a:active, a:visited {
  text-decoration:none;
  background-color:#FFFFFF;
}

.circle li:nth-child(1) {
  top: 15px;
  left: 125px;
}

.circle li:nth-child(2) {
  top: 125px;
  left: 235px;
}

.circle li:nth-child(3) {
  top: 235px;
  left: 125px;
}

.circle li:nth-child(4) {
  top: 125px;
  left: 15px;
}

#map {
    width: 100%;
    height: 100%;
    float: right;
}

#content {
    float:left;
    margin-top: 20px;
    width:100%;
    height:75%;
    margin-bottom: 60px;
}

#arrow {
    width: 120px;
    height: 120px;
    position: absolute;
    margin-left: auto;
    margin-top: auto;
    top: 30%;
    left: 30%;
}

body{
  padding-left: 10%;
  padding-right: 10%;
  font-family:Arial,​Liberation Sans,​DejaVu Sans,​sans-serif;
}
#header{
  background-color: black;
}

#header_name{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  float:left;
}
#nav{
  float:right;
  padding-right: 5px;
  z-index: 999;
}
.app_name{
  font-size: 20px;
  color: white;
}
#nav ul{
  padding-top: 15px;
}
#nav ul li{
  display: inline;
  color:white;
  font-size: 14px;
  padding-left: 5px;
}
#nav ul li a{
  text-decoration: none;
  background-color: black;
}
#nav ul li a:visited{
  color:white;
}
#nav ul li a:hover{
  cursor: pointer;
  color:#eee;
}
.separator{
  clear:both;
}
#main{
  background-color: #263d52;
  height:100%;
  /*margin-top: 30px;*/
}
#footer{
  height:100px;
  background-color: #172531;
  padding-bottom: 20px;
/*      border-style:solid;*/
  border-top:solid white;
}
.textlayer{
  position:absolute;
  top: 30%;
  left:70%;
}
#spin_navi{
  float:left;
  width:25%;
  background-color: #CCCCFF;
  height:inherit;
  display: inline;
  display: none;
}
#footer_text span{
  color:white;
  font-size: 15px;
}
#logos{
  padding-top: 10px;
  padding-bottom: 10px;
}
.reports-tab li {
    list-style-type: none;    
}

/* CSS from website template */
#searchbox{
  float:right;
  width:150px;
}
#filterbox{
  float: right;
}

.seperator{
  clear:both;
}
.place{
  height:20px;
}
.website{
  width:23%;
  height:40%;
  /*background-color: black;*/
  float:left;
  display: block;
  margin-left:15px;
  margin-top: 10px;
  padding-top: 10px;
  /*padding-left: 10px;*/
}
#content{
  /*clear:both;*/
  float:left;
  margin-top: 20px;
  width:100%;
  height:80%;
  margin-bottom: 60px;
  /*margin-left:20px;*/
}
#websites{
  /*position:relative;*/
  height:100%;
  margin-left:10px;
  margin-right:10px;
  overflow-y:scroll;
  background-color: #FFCC33;
}
.website_name{
  font-size: 15px;
  /*display: block;*/

}
.website_desc{
  font-size:14px;
  color:white;
}
.web_text{
  padding-left: 20px;
}
#subheader{
  width:auto;
}

.about{
  color:white;
  font-size: 16px;
}

#aboutDiv{
  background-color: #9999FF;
  /*opacity: 0.5;*/
  height: 100%;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  overflow-y:scroll;
}


/* CSS from reports page*/
.seperator2{
  height:1px;
  background-color: white;
  width:100%;
  margin-left:10px;
  margin-right:10px;
}

.conf_logo{
  width:50px;
  height:50px;
  border-radius: 50%;
  /*padding-top: 30px;*/
}
.conf_img{
  float:left;
  margin-left:30px;
  width:8%;
  padding-top: 15px;
  /*margin-top:30px;*/
}
.detail_img{
  float:left;
  margin-left:30px;
  width:8%;
  height:50px;
  padding-top: 15px;
}
.conf_desc{
  float:left;
  width: 85%;
}
.report{
  margin-top:20px;
  height:150px;
  background-color: white;
  margin-left:30px;
  margin-right: 30px;
}
.conf_header{
  clear: both;
  padding-top: 5px;
}
.conf_name{
  float:left;
}
.conf_time{
  float:right;
}
.conf_type{
  float:right;
}
.conf_name_span{
  color: #9966FF;
  font-size:17px;
}
.conf_preview{
  padding-top: 5px;
}
.conf_preview_author{
  color: #9966FF;
  font-size: 14px;  
}
.readMore{
  color: #9966FF;
  font-size: 15px;
}
.readMore:hover{
  cursor: pointer;
  color:black;
}

.conf_preview_desc{
  display: block;
  width:100%;
  word-wrap:break-word;
}
.seperator3{
  clear: both;
  height:1px;
  background-color: black;
  width: 100%;
}
.conf_footer{
  padding-right: 30px;
  /*padding-top: 30px;*/
}
#reports{
  float:left;
  /*position:relative;*/
  width: 100%;
  height:100%;
  overflow-y:scroll;
  overflow-x:hidden;
}
.report_detail{
  font-size: 12px;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  word-wrap:break-word;
}
#detail_body{
  height:75%;
  margin-top:10px;
  margin-left:8%;
  margin-right:8%;
  padding-left:10%;
  padding-right: 10%;
  overflow-y:scroll;
  border-style:solid;
  border-width:1px; 
}
.intro_title{
  margin-left:7%;
  margin-right:7%;
  display: block;
  margin-top:20px;
  font-size: 30px;
  font-weight:900; 
}
#detail{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  background-color: white;
}