<html>
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<title>Arctic Template</title>
	<link href="js/lib/imageslider/js-image-slider.css" rel="stylesheet" type="text/css" />
	<link href="index.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="js/lib/leaflet/leaflet.css" />
    <link rel="stylesheet" href="bootstrap.min.css" />
    <script src="js/lib/imageslider/js-image-slider.js" type="text/javascript"></script>
</head>

<body>
    <!-- templates -->
    <script type="text/template" id='website_template'>
        <div class='website' align='center'>
            <img src="imgs/thumbnail.png" class="web_cache"/>
            <div class='web_text' align='left'>
                <span class='website_name'><%= name%></span><br/>
                <span class='website_desc'><%= description%></span>
            </div>
        </div>
    </script>

    <script type="text/template" id='about_template'>
            <span class='about'><%= content %></span>
    </script>

    <script type="text/template" id='report_template'>
        <div class='report'>
            <div class='conf_img'>
                <img class='conf_logo' src="imgs/placeholder.gif" />
            </div>
            <div class='conf_desc'>
                <div class='conf_header'>
                    <div class='conf_name'>
                        <span class='conf_name_span'>
                            <%= name%>
                        </span>
                    </div>
                    <div class='conf_time'>
                        <span class='conf_name_span'>
                            <%= posttime%>
                        </span>
                    </div>
                    <div class='conf_type'>

                    </div>
                </div>
                <div class='seperator3'></div>
                <div class='conf_preview'>
                    <span class='conf_preview_author'>
                        <%= author%>
                    </span><br/>
                    <span class='conf_preview_desc'>
                        <%= description%>
                    </span>
                </div>
                <div class='conf_footer' align='right'>
                    <a class='readMore' href="<%= objectId%>">Read More</a>&nbsp;
                    <a class='readMore'>Comment</a>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id='detail_view'>
        <div class='report_detail'>
            <div class='detail_img'>
                <img class='conf_logo' src="imgs/placeholder.gif" />
            </div>
            <div class='conf_desc'>
                <div class='conf_header'>
                    <div class='conf_name'>
                        <span class='conf_name_span'>
                            <%= name%>
                        </span>
                    </div>
                    <div class='conf_time'>
                        <span class='conf_name_span'>
                            <%= posttime%>
                        </span>
                    </div>
                    <div class='conf_type'>

                    </div>
                </div>
                <div class='seperator3'></div>
                <div class='conf_preview'>
                    <span>
                        <span class='conf_preview_author'>Published By:</span>&nbsp;<%= publishedBy%>
                    </span><br/>
                    <span>
                        <span class='conf_preview_author'>URL:</span>&nbsp;<%= URL%>
                    </span><br/>
                    <span>
                        <span class='conf_preview_author'>Issue:</span>&nbsp;<%= issue%>
                    </span>
                </div>
            </div>
        </div>
        <div class="seperator"></div>
        <div id='detail_body'>
            <span class='intro_title'>Conference Summary</span>
            <span class='report_detail'>
                <%=introduction%>
            </span>
        </div>
    </script>

    <!-- this is not a template, have not finished filter and search-->
    <script type="text/template" id="fliternsearch">
        <div id='subheader'>
            <span>Websites</span>
            <div id='filterbox' class="col-sm-2">
              <select class="form-control">
                  <option value="one">Filter</option>
                  <option value="two">Filter</option>
                  <option value="three">Filter</option>
              </select>
            </div>
            <div id="searchbox" class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </div>
        <div class='seperator'></div>
    </script>

    <script type="text/template" id="dropdown-template">
        <form action="">
            <select class="form-contro" name="categories" id="options">
            <option value="All">All</option>
            <% _.each(categories, function(category) {%>
                <option value="<%= category %>"><%= category %></option>
            <% }); %>
            </select>
        </form>
    </script>

    <script type="text/template" id="filter-template">
            <form action="" class="filter_box">
            <% _.each(categories, function(category) { %>
                <input type="checkbox" value="<%= category %>"> <%= category %><br>
            <% }); %>
            </form>
    </script>
    <script type="text/template" id='reports-tab-template'>
        <% _.each(reports, function(report) { %> 
            <div id="<%= report.get("name") %>" class="reports-tab">
                <ul>
                    <li> 
                    <% if (report.has("name")) { %>
                        <%= report.get("name") %>
                    <% } else { %> 
                        Unnamed
                    <% } %>
                    </li>
                    <br />
                    <li>Description: <%= report.get("description") %></li>
                    <li>Category: 
                    <% if (report.has("category")) { %>
                        <%= report.get("category") %>
                    <% } else { %>
                        All 
                    <% } %>
                    </li>
                    <% if (report.has("published")) { %>
                        <li>Published: <%= report.get("published").getFullYear() %></li>
                    <% } %>
                <li><a href="#report/<%= report.id %>">More Info</a></li>
                </ul>
            </div> 
        <% }); %>
    </script>
    <script type="text/template" id='conferences-tab-template'>
        <% _.each(conferences, function(conference) { %> 
            <div id="<%= conference.get("name") %>" class="conferences-tab">
                <ul>
                    <li> 
                    <% if (conference.has("name")) { %>
                        <%= conference.get("name") %>
                    <% } else { %> 
                        Unnamed
                    <% } %>
                    </li>
                    <br />
                    <li>Description: <%= conference.get("description") %></li>
                    <li>Category: 
                    <% if (conference.has("category")) { %>
                        <%= conference.get("category") %>
                    <% } else { %>
                        All 
                    <% } %>
                    </li>
                    <% if (conference.has("published")) { %>
                        <li>Published: <%= conference.get("published").getFullYear() %></li>
                    <% } %>
                <li><a href="#conference/<%= conference.id %>">More Info</a></li>
                </ul>
            </div> 
        <% }); %>
    </script>

    <!-- templates -->
    <script type="text/template">
        <script type="text/template" id='website_template'>
        <div class='website' align='center'>
            <img src="thumbnail.png" class="web_cache"/>
            <div class='web_text' align='left'>
                <span class='website_name'><%= name%></span><br/>
                <span class='website_desc'><%= description%></span>
            </div>
        </div>
    </script>




	<div id='header'>
		<div id='inner' style="overflow:hidden">
			<div id='header_name'>
				<span>Arctic Virtual Forum</span>
			</div>
			<div id='nav'>
			    <ul>
                                <li><a href="#about_us">About Us</li>
                                <li><a href="#conferences">Conferences</a></li>
                                <li><a href="#reports">Reports</a></li>
                                <li><a href="#websites">Websites</a></li>
		                <li>Partners</li>
		                <li>|</li>
		                <li>Login</li>
		            </ul>
		        </div>
		</div>
	</div>

	<!-- image slider-->
	<div id="sliderFrame">
        <div id="slider">
            <img src="imgs/Chris2.jpg" class='resized_img'/>
            <!-- <img src="imgs/thumb-2.gif" class='resized_img'/> -->
            <img src="imgs/Chris.jpg" class='resized_img' />
            <img src="imgs/Laura.jpg" class='resized_img'/>
            <img src="imgs/Lauren2.jpg" class='resized_img'/>
            <img src="imgs/Lauren3.jpg" class='resized_img'/>
        </div>
        <span class='textlayer'>
            	text on top of image
        </span>
        <div id="htmlcaption" style="display: none;">
            <em>HTML</em> caption. Link to <a href="http://www.google.com/">Google</a>.
        </div>
    </div>
    <div id='main'>
        <button id='compass_toggle'><img src="imgs/expand.png"></button>
            <div id='spin_navi'>
                <div id="compass">
                    <img src="imgs/compassbase.png" id='compass_base'>
                    <div id="icon_conference" class="icon"><a href="#icon_conference!"><img src="imgs/conferenceicon.png"></a></div>
                    <div id="icon_forum" class="icon"><a href="#icon_forum!"><img src="imgs/forumicon.png"></a></div>
                    <div id="icon_report" class="icon"><a href="#icon_report!"><img src="imgs/reporticon.png"></a></div>
                    <div id="icon_website" class="icon"><a href="#icon_website!"><img src="imgs/websiteicon.png"></a></div>
                    <img src="imgs/compass.png" id="arrow">
                </div>
            </div>
        <div id='content'>
           <div id="detail"></div>
           <div id='map'>
              <div id="reportFilter" class='filter'></div>
              <div id="conferenceFilter" class='filter'></div>
           </div>
           <div id='websites'>
              <div id="websiteFilter"></div>
              <div id="websiteList"></div>
           </div>
           <div id='reports'></div>
           <div id='about'>
              <p>About Us</p>
              <p>The Arctic Virtual Forum is an outcome from a joint Carnegie Endowment and University of the Arctic Conference, "A Euro-Atlantic Action Plan for Cooperation and Enhanced Arctic Security", hel on February 11-12, 2013, in Washing, DC.</p><br><br>
              <p>Goal</p>
              <p>The goal of the Arctic Virtual Forum is to establish a permanent virtual conference that serves as a quasi-think tank and foresight group for the Arctic Council and other policy groups interested in Arctic issues.  The Forum draws on the expertise represented by the network of conference participants to provide access to information and discussion about five critical issues in Arctic policy that have been addressed in previous conferences: Health, Security, Shipping, Governance, and Climate Chance.</p>
           </div>
        </div>
    </div>
    <div class='separator'>
    </div>
	<div id='footer'>
		<div id='logos' align='center'>
                    <!-- <img src='imgs/thumb-2.gif' alt='place_holder' height='40px' width='40px'/> -->
                    <!-- <img src='imgs/thumb-2.gif' alt='place_holder' height='40px' width='40px'/> -->
		</div>
		<div id='footer_text' align='center'>
			<span>Site managed by the Institute of Arctic studies at Dartmouth College</span>
		</div>
	</div>
    <script src="js/lib/jquery-2.1.0.min.js"></script>
    <script src="js/lib/jquery-1.9.1.js"></script>
    <script src="js/lib/jQueryRotateCompressed.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/parse-1.2.18.min.js"></script>
    <script src="js/lib/leaflet/leaflet.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/bootstrap-checkbox.js"></script>
    <script src="js/geoJson/countries.json"></script>
    <script src="js/models/mapData.js"></script>
    <script src="js/models/report.js"></script>
    <script src="js/models/conference.js"></script>
    <script src="js/models/website.js"></script>
    <script src="js/models/about.js"></script>
    <script src="js/collections/reports.js"></script>
    <script src="js/collections/conferences.js"></script>
    <script src="js/collections/websites.js"></script>
    <script src="js/collections/abouts.js"></script>
    <script src="js/views/reportsTab.js"></script>
    <script src="js/views/conferencesTab.js"></script>
    <script src="js/views/mapView.js"></script>
    <script src="js/views/compassView.js"></script>
    <script src="js/views/websiteList.js"></script>
    <script src="js/views/aboutView.js"></script>
    <script src="js/views/reportsView.js"></script>
    <script src="js/views/filterView.js"></script>
    <script src="js/views/dropdownView.js"></script>
    <script src="js/routers/router.js"></script>
    <script src="js/views/appView.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript">
        $("#compass_toggle").click(function() {
                if ($("#map").is(":visible")) {
                    $("#spin_navi").toggle();
                } else {
                    if ($("#compass").is(":visible")) {
                        $('.website').hide();
                        $("#spin_navi").hide(300);
                        $('.website').width('23%');
                        $('#content').width('100%');
                        $('.website').show(300);
                    } else {
                        $("#spin_navi").show(300);
                        $('#content').width('75%');
                        $('.website').width('30%');
                    }
                }
        });
    </script>
</body>
</html>
