* {
  margin: 0;
  padding: 0;
  -webkit-backface-visibility: hidden;
}

.header a {
  color: #999;
}

/*COMPASS*/
.compass {
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 25px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #093b62;
  z-index: 999;
}

.compass .icon {
  width: 500px;
  height: 500px;
}

.compass #icon_conference {
  top: 15px;
  left: 125px;
  position: absolute;
}

.compass #icon_forum {
  top: 125px;
  left: 235px;
}

.compass #icon_report {
  top: 235px;
  left: 125px;
}

.compass #icon_website {
  top: 125px;
  left: 15px;
}

#map {
    width: 100%;
    height: 100%;
    float: right;
}

#content {
    float: right;
    height: 100%;
    width: 100%;
}

#arrow {
    width: 120px;
    height: 120px;
    position: absolute;
    margin-left: auto;
    margin-top: auto;
    top: 30%;
    left: 30%;
}

body{
  padding-left: 10%;
  padding-right: 10%;
  font-family:Arial,​Liberation Sans,​DejaVu Sans,​sans-serif;
}
#header{
  background-color: black;
}

#header_name{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  float:left;
}
#nav{
  float:right;
  padding-right: 5px;
}
.app_name{
  font-size: 20px;
  color: white;
}
#nav ul{
  padding-top: 15px;
}
#nav ul li{
  display: inline;
  color:white;
  font-size: 14px;
  padding-left: 5px;
}
#nav ul li:hover{
  cursor: pointer;
  color:#eee;
}
.separator{
  clear:both;
}
#main{
  background-color: #263d52;
  height:100%;
  /*margin-top: 30px;*/
}
#footer{
  height:100%;
  background-color: #172531;
  padding-bottom: 20px;
/*      border-style:solid;*/
  border-top:solid white;
}
.textlayer{
  position:absolute;
  top: 30%;
  left:70%;
}
#spin_navi{
  float:left;
  width: 0%;
  height: 0%;
  z-index: 999;
}
#footer_text span{
  color:white;
  font-size: 15px;
}
#logos{
  padding-top: 10px;
  padding-bottom: 10px;
}
.reports-tab li {
    list-style-type: none;    
}
