* {
  margin: 0;
  padding: 0;
  -webkit-backface-visibility: hidden;
}

.header a {
  color: #999;
}

/*COMPASS*/
#compass {
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 25px;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}

#compass_base {
    position: relative;
    width: 220px;
    height: 220px;
    z-index: 998;
}

#compass .icon {
  width: 60px;
  height: 60px;
  z-index: 999;
  position: absolute;
}

//Top
#icon_conference {
  top: 7%;
  left: 40%;
}

//Right
#icon_forum {
  top: 40%;
  left: 93%;
}

//Bottom
#icon_report {
  top: 93%;
  left: 40%;
}

//Left
#icon_website {
  top: 40%;
  left: 7%;
}

#arrow {
  width: 80px;
  height: 30px;
  margin-left auto;
  margin-top auto;
  left: 35%;
  top: 45%;
  position: absolute;
  z-index: 999;
}

#map {
    width: 100%;
    height: 100%;
    float: right;
}

#content {
    float: right;
    height: 100%;
    width: 100%;
    position: relative;
}

<<<<<<< HEAD
=======
#arrow {
    width: 120px;
    height: 120px;
    position: absolute;
    margin-left: auto;
    margin-top: auto;
    top: 30%;
    left: 30%;
}

#filter {
    right: 2%;
    top: 20%;
    width: 80px;
    height: 100px;
    background-color:white;
    position:absolute;
}

>>>>>>> 6dd20fa57c93bce8adb9d781e9a84e90ae078f00
body{
  padding-left: 10%;
  padding-right: 10%;
  font-family:Arial,​Liberation Sans,​DejaVu Sans,​sans-serif;
}

#header{
  background-color: black;
}

#header_name{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  float:left;
}

#nav{
  float:right;
  padding-right: 5px;
}
.app_name{
  font-size: 20px;
  color: white;
}
#nav ul{
  padding-top: 15px;
}
#nav ul li{
  display: inline;
  color:white;
  font-size: 14px;
  padding-left: 5px;
}
#nav ul li:hover{
  cursor: pointer;
  color:#eee;
}
.separator{
  clear:both;
}
#main{
  background-color: #263d52;
  height:100%;
  /*margin-top: 30px;*/
}
#footer{
  height:100%;
  background-color: #172531;
  padding-bottom: 20px;
/*      border-style:solid;*/
  border-top:solid white;
}
.textlayer{
  position:absolute;
  top: 30%;
  left:70%;
}
#spin_navi{
  float:left;
  width: 0%;
  height: 0%;
  z-index: 999;
}
#footer_text span{
  color:white;
  font-size: 15px;
}
#logos{
  padding-top: 10px;
  padding-bottom: 10px;
}
.reports-tab li {
    list-style-type: none;    
}
