<html>
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<title>Arctic Template</title>
	<link href="js/lib/imageslider/js-image-slider.css" rel="stylesheet" type="text/css" />
	<link href="index.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="js/lib/leaflet/leaflet.css" />
    <link rel="stylesheet" href="bootstrap.min.css" />
    <script src="js/lib/imageslider/js-image-slider.js" type="text/javascript"></script>
</head>

<body>

    <script type="text/template" id="filter-template">
            <form action="">
            <% _.each(categories, function(category) { %>
                <input class="filter_option" type="checkbox" value="<%= category %>"> <%= category %><br>
            <% }); %>
            </form>
    </script>
    <script type="text/template" id='reports-tab-template'>
        <% _.each(reports, function(report) { %> 
            <div id="<%= report.get("name") %>" class="reports-tab">
                <ul>
                    <li> 
                    <% if (report.has("name")) { %>
                        <%= report.get("name") %>
                    <% } else { %> 
                        Unnamed
                    <% } %>
                    </li>
                    <br />
                    <li>Description: <%= report.get("description") %></li>
                    <li>Category: 
                    <% if (report.has("category")) { %>
                        <%= report.get("category") %>
                    <% } else { %>
                        All 
                    <% } %>
                    </li>
                    <% if (report.has("published")) { %>
                        <li>Published: <%= report.get("published").getFullYear() %></li>
                    <% } %>
                <li><a href="#report/<%= report.id %>">More Info</a></li>
                </ul>
            </div> 
        <% }); %>
    </script>
    <script type="text/template" id='conferences-tab-template'>
        <% _.each(conferences, function(conference) { %> 
            <div id="<%= conference.get("name") %>" class="conferences-tab">
                <ul>
                    <li> 
                    <% if (conference.has("name")) { %>
                        <%= conference.get("name") %>
                    <% } else { %> 
                        Unnamed
                    <% } %>
                    </li>
                    <br />
                    <li>Description: <%= conference.get("description") %></li>
                    <li>Category: 
                    <% if (conference.has("category")) { %>
                        <%= conference.get("category") %>
                    <% } else { %>
                        All 
                    <% } %>
                    </li>
                    <% if (conference.has("published")) { %>
                        <li>Published: <%= conference.get("published").getFullYear() %></li>
                    <% } %>
                <li><a href="#conference/<%= conference.id %>">More Info</a></li>
                </ul>
            </div> 
        <% }); %>
    </script>

	<div id='header'>
		<div id='inner' style="overflow:hidden">
			<div id='header_name'>
				<span class='app_name'>Arctic Virtual Forum</span>
			</div>
			<div id='nav'>
				<ul>
					<li>About Us</li>
					<li>Conferences</li>
					<li>Forum</li>
					<li>Reports</li>
					<li>Websites</li>
					<li>Parters</li>
					<li>|</li>
					<li>Login</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- image slider-->
	<div id="sliderFrame">
        <div id="slider">
            <img src="imgs/Chris2.jpg" class='resized_img'/>
            <!-- <img src="imgs/thumb-2.gif" class='resized_img'/> -->
            <img src="imgs/Chris.jpg" class='resized_img' />
            <img src="imgs/Laura.jpg" class='resized_img'/>
            <img src="imgs/Lauren2.jpg" class='resized_img'/>
            <img src="imgs/Lauren3.jpg" class='resized_img'/>
        </div>
        <span class='textlayer'>
            	text on top of image
        </span>
        <div id="htmlcaption" style="display: none;">
            <em>HTML</em> caption. Link to <a href="http://www.google.com/">Google</a>.
        </div>
    </div>
    <div id='main'>
    	<div id='content'>
            <div id='spin_navi'>
                <div id="compass">
                    <img src="imgs/compassbase.png" id='compass_base'>
                    <div id="icon_conference" class="icon"><a href="#icon_conference"><img src="imgs/conferenceicon.png"></a></div>
                    <div id="icon_forum" class="icon"><a href="#icon_forum"><img src="imgs/forumicon.png"></a></div>
                    <div id="icon_report" class="icon"><a href="#icon_report"><img src="imgs/reporticon.png"></a></div>
                    <div id="icon_website" class="icon"><a href="#icon_website"><img src="imgs/websiteicon.png"></a></div>
                    <img src="imgs/compass.png" id="arrow">
                </div>
    	    </div>
            <div id='map'>
            </div>
            <div id='filter'>
            </div>
        </div>
    </div>
    <div class='separator'>
    </div>
	<div id='footer'>
		<div id='logos' align='center'>
			<img src='imgs/thumb-2.gif' alt='place_holder' height='40px' width='40px'/>
			<img src='imgs/thumb-2.gif' alt='place_holder' height='40px' width='40px'/>
		</div>
		<div id='footer_text' align='center'>
			<span>Site managed by the Institute of Arctic studies at Dartmouth College</span>
		</div>
	</div>
    <script src="js/lib/jquery-2.1.0.min.js"></script>
    <script src="js/lib/jquery-1.9.1.js"></script>
    <script src="js/lib/jQueryRotateCompressed.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/parse-1.2.18.min.js"></script>
    <script src="js/lib/leaflet/leaflet.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/geoJson/countries.json"></script>
    <script src="js/models/mapData.js"></script>
    <script src="js/models/report.js"></script>
    <script src="js/models/conference.js"></script>
    <script src="js/collections/reports.js"></script>
    <script src="js/collections/conferences.js"></script>
    <script src="js/views/reportsTab.js"></script>
    <script src="js/views/conferencesTab.js"></script>
    <script src="js/views/mapView.js"></script>
    <script src="js/views/compass.js"></script>
    <script src="js/views/filter.js"></script>
    <script src="js/routers/router.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
