body {
	color: green;
   	background-color: rgb(02, 10, 19);
}

.header {
	position: absolute;
	top: 30px;
	width: 1300px;
	height: 200px;
}

.nav-bar {
	color: white;
	font-size: 125%;
	top: 0px;
	height: 25px;
	width: 1300px;
}

#arctic-map {
	position: absolute;
	z-index: 0;
	top: 225;
	left: 50px;
	width: 200px;
	height: 200px;
}

.vertical {
	position:absolute;
    top:40%;    
    left:0;
    width:80%;
    font-size: 125%;
}
#reports-control {
	position: absolute;
	outline: 1px solid #eee;
	background-color: rgba(76, 141, 90, .75);
	color: white;
	text-align: center;
	z-index: 2;
	top: 225px;
	left: 50px;
	width: 100px;
	height: 100px;
}
#conferences-control {
	position: absolute;
	outline: 1px solid #eee;
	background-color: rgba(238, 117, 117, .75);
	color: white;
	text-align: center;
	z-index: 2;
	top: 225px;
	left: 150px;
	width: 100px;
	height: 100px;
}
#about-control {
	position: absolute;
	outline: 1px solid #eee;
	background-color: rgba(84, 86, 188, .75);
	z-index: 2;
	color: white;
	text-align: center;
	top: 325px;
	left: 50px;
	width: 100px;
	height: 100px;
}

#websites-control {
	position: absolute;
	outline: 1px solid #eee;
	background-color: rgba(195, 150, 73, .75);
	z-index: 2;
	color: white;
	text-align: center;
	top: 325px;
	left: 150px;
	width: 100px;
	height: 100px;
}

#control {
	position: absolute;
	top: 255px;
	left: 0px;
	width: 300px;
	height: 650px;
	z-index: 0;
}
#map{
	margin-top: 285px;
	margin-left: 300px;
	width: 1000px;
	height: 650px;
	z-index: 0;
}

#about-arctic {
	display: none;
	position: absolute;
	top: 375px;
	left: 400px;
	width: 800px;
	height: 500px;
	color: white;
	background-color: rgba(84, 86, 188, .8);
	font-size: 125%;
	z-index: 10;
}

#websites-arctic {
	display: none;
	position: absolute;
	top: 375px;
	left: 400px;
	width: 800px;
	height: 500px;
	color: white;
	background-color: rgba(195, 150, 73, .75);
	font-size: 125%;
	z-index: 10;
}
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

