* {
    font-family: "Roboto Condensed";
    margin: 0;
    padding: 0;
    -webkit-backface-visibility: hidden;
}
/* Normal */
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url("RobotoCondensed-Regular.ttf") format('truetype');
}
.header-text {
    color: white;
}
.header a {
  color: #999;
}

/*COMPASS*/
#compass {
  float:left;
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 25px;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}

#compass_toggle {
    background-color: transparent;
    border: none;
    position: absolute;
    width: 30px;
    outline: none;
    z-index: 999;
}

#compass_toggle img {
    height: 30px;
    width:30px;
    height:30px;
}

#compass_base {
    position: relative;
    width: 220px;
    height: 220px;
    z-index: 998;
}

#compass .icon {
    width: 50px;
    height: 50px;
    z-index: 999;
    position: absolute;
}

#compass .icon img {
    width: 50px;
    height: 50px;
}

#icon_conference {
  top: 7%;
  left: 38%;
}

#icon_forum {
  top: 40%;
  left: 70%;
}

#icon_report {
  top: 70%;
  left: 39%;
}

#icon_website {
  top: 40%;
  left: 8%;
}

#arrow {
  width: 80px;
  height: 30px;
  margin-left auto;
  margin-top auto;
  left: 33%;
  top: 43%;
  position: absolute;
  z-index: 999;
}

#map {
    width: 100%;
    height: 100%;
    float: left;
}

#websiteFilter {
    position:absolute;
    right:2%;
    top:2%;
}

.filter_title {
    position:relative;
    font-size:14px;
    width:80px;
    height:26px;
}

.filter_title p {
    top:10%;
    left:0%;
    position: absolute;
}

.form-control {
    width: auto;
}

.filter {
    border-radius:5px;
    border-style:solid;
    right: 1%;
    top: 2%;
    padding-left:10px;
    padding-right:10px;
    background-color:white;
    position:absolute;
    z-index: 999;
}

.filter form {
    padding-bottom:10px;
    padding-top:10px;
}

.filter_tab {
    position:absolute;
    right:0%;
    top:2%;
    width:25px;
    height:25px;
}

body {
  padding-left: 10%;
  padding-right: 10%;
  font-family:Arial,​Liberation Sans,​DejaVu Sans,​sans-serif;
}

#header{
  background-color: black;
}

#header_name{
  font-size:16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  float:left;
}

#nav{
  float:right;
  padding-right: 5px;
}
.app_name{
  font-size: 20px;
  color: white;
}
#nav ul{
  padding-top: 15px;
}
#nav ul li{
  display: inline;
  color:white;
  font-size: 14px;
  padding-left: 5px;
}
#nav a{
  text-decoration: none;
  background-color: black;
}
#nav a:visited{
  color:white;
}
#nav a:hover{
  cursor: pointer;
  color:#eee;
}
.separator{
  clear:both;
}
#main{
  background-color: #263d52;
  height:100%;
  /*margin-top: 30px;*/
}
#footer{
  height:200px;
  background-color: #172531;
  padding-bottom: 20px;
/*      border-style:solid;*/
  border-top:solid white;
}

.footer_img {
    max-width:15%;
    padding-left:30px;
    padding-right:30px;
}

.textlayer{
  color: white;
  background-color: rgba(38,61,82, 0.7);
  position:absolute;
  top: 30%;
  left:63%;
  width: 38%;
  padding: 10px;
}

#spin_navi{
  float:left;
  width:0%;
  height:0%;
}
#footer_text span{
  color:white;
  font-size: 15px;
}
#logos{
  padding-top: 40px;
  padding-bottom: 10px;
}
.reports-tab li {
    list-style-type: none;
}
.conferences-tab li {
    list-style-type: none;
}
/* CSS from website template */
#searchbox{
  float:right;
  width:150px;
}
#filterbox{
  float: right;
}

.seperator{
  clear:both;
}
.place{
  height:20px;
}

.website{
  width:23%;
  height:40%;
  /*background-color: black;*/
  float:left;
  display: block;
  margin-left:15px;
  margin-top: 10px;
  padding-top: 10px;
  /*padding-left: 10px;*/
}

#background-img {
  background-image:url('../imgs/mapbackground.png');
  background-position: left;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size:cover;
}

#content {
    float:right;
    width:100%;
    height:100%;
    outline: solid white;

}

#partners {
  background-color: rgba(38,61,82, 0.7);
  color:white;
  text-align: center;
  height:100%;
  overflow-y: scroll;
}

#partners h1 {
    font-size: 20px;
}

#partners p {
    font-size: 16px;
}

.partner {
    font-size: 16px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:50px;
    padding-top:50px;
    float: left;
    width: 50%;
    height:30%;
    text-align: center;
    position: relative;
}
.partner_txt {
    color: white;
}
.partner_txt > a:hover {
    text-decoration: none;
    color: white;
}

.partner img {
    max-height:100%;
    max-width:100%;
}

.partner_txt {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#websites{
  position:relative;
  height:100%;
  padding-top: 50px;
  overflow-y:scroll;
  background-color: rgba(255, 204, 51, .4);
  display: none;
}
.website_name{
  font-size: 15px;
  /*display: block;*/

}
.website_desc{
  font-size:14px;
  color:white;
}
.web_text{
  padding-left: 20px;
}
#subheader{
  width:auto;
}

#about {
  background-color: rgba(38,61,82, 0.7);
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
  color:white;
  height: 100%;
  overflow-y:scroll;
}

#about p {
    font-size: 16px;
}

#about h2 {
    font-size: 18px;
}

#about h1 {
    font-size: 22px;
}

/* CSS from reports page*/
.seperator2{
  height:1px;
  background-color: white;
  width:100%;
  margin-left:10px;
  margin-right:10px;
}

.conf_logo{
  width:50px;
  height:50px;
  border-radius: 50%;
  /*padding-top: 30px;*/
}
.conf_img{
  float:left;
  margin-left:30px;
  width:8%;
  padding-top: 15px;
  /*margin-top:30px;*/
}
.detail_img{
  float:left;
  margin-left:30px;
  width:8%;
  height:50px;
  padding-top: 15px;
}
.conf_desc{
  float:left;
  width: 85%;
}
.report{
  margin-top:20px;
  height:150px;
  background-color: white;
  margin-left: 50px;
  margin-right: 30px;
}
.conf_header{
  clear: both;
  padding-top: 5px;
}
.conf_name{
  float:left;
}
.conf_time{
  float:right;
}
.conf_type{
  float:right;
}
.conf_name_span{
  color: #9966FF;
  font-size:17px;
}
.conference_link {
    color: #263d52;
}
.conf_preview{
  padding-top: 5px;
}
.conf_preview_author{
  color: #9966FF;
  font-size: 14px;  
}
.readMore{
  color: #9966FF;
  font-size: 15px;
}
.readMore:hover{
  cursor: pointer;
  color:black;
}

.conf_preview_desc{
  display: block;
  width:100%;
  word-wrap:break-word;
}
.seperator3{
  clear: both;
  height:1px;
  background-color: black;
  width: 100%;
}
.conf_footer{
  padding-right: 30px;
  /*padding-top: 30px;*/
}
.list {
  float:left;
  /*position:relative;*/
  background-color: rgba(84, 86, 188, .4);
  width: 100%;
  height:100%;
  overflow-y:scroll;
  overflow-x:hidden;
}
.report_detail{
  font-size: 12px;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  word-wrap:break-word;
}
#detail_body{
  height:75%;
  margin-top:10px;
  margin-left:8%;
  margin-right:8%;
  padding-left:10%;
  padding-right: 10%;
  overflow-y:scroll;
  border-style:solid;
  border-width:1px; 
}
.intro_title{
  margin-left:7%;
  margin-right:7%;
  display: block;
  margin-top:20px;
  font-size: 30px;
  font-weight:900; 
}
#detail{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  background-color: white;
}

.reports-popup {
    background: rgba(232, 141, 141, .8);
}

.conferences-popup {
    background: rgba(76, 141, 90, .8);
}

.dynamic-image {
    width: 190px;
    height: 118px;
}
