#main {
  background-color: #fff;
}
#top{
  text-align: right;
  background-color: #000;
  height: 30px;
  padding-right: 10%;
}
.top_span{
  color:white;
}
.admin_acc{
  color:#999999;
}
#navi{
  float:left;
  padding-right:20px;
  padding-left:40px;
  padding-top: 20px;
}
#wrapper{
  height:auto;
  overflow: hidden;
}
#headline{
  color: #544C4A;
  font-size: 5em;
  margin: 20px 0;
  position: relative;
  text-align: center;
  font-family: 'GentiumBasicRegular',Tahoma,Geneva,sans-serif;
}
#navi_ul{
  list-style: none;

}
#navi_ul li{
  padding-top: 5px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: #C0C0C0;
  border-radius:10px;
  margin-top: 10px;
  text-align: center;
}
#navi_ul li:hover{
  background-color: #FFFFFF;
  cursor: pointer
}
.content{
  /*margin-left:5%;*/
  padding-top: 20px;
  width:80%;
  float:left;
}
#table_id{
    width:100%;
}
#changable{
  overflow: scroll; 
}
.ops{

}
.ops:hover{
  cursor:pointer;
  text-decoration: underline;
}

.add_input{
  width:75%;
}
.glyphicon{
  color:grey;
}
.glyphicon:hover{
  color:white;
  cursor: pointer;
}
#edit_modal{
  clear:both;
}
.btn-my{
  background-color:#999;
}

#footer{
  height:200px;
  background-color: #CCC;
  padding-top: 20px;
  margin-top: 3px;
  padding-bottom: 20px;
/*      border-style:solid;*/
  border-top:solid white;
}
#footer_text span{
  color:black;
  font-size: 15px;
}
#logos{
  /*padding-top: 40px;*/
  padding-bottom: 10px;
}

.footer_img {
    max-width:15%;
    padding-left:30px;
    padding-right:30px;
}
.img_edit_tn{
    border:1px solid black;
    width:190px;
    height:118px;
}
#edit_ab{
    width:80%;
    height:450px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
